body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
/* input fields with full size*/
input[type=text], input[type =password] {
    width: 57%;
    padding: 16px;
    margin: 6px 0 20px 0;
    display: inline-block;
    border: none;
    flex-wrap: wrap;
    background-color:black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
    -webkit-border-radius: 7px;
    border-radius: 7px;
    
}
input[type=text]:focus, input[type=password]:focus {
    background-color:#ddd;
    outline: none;
    flex-wrap: wrap;
    
}
hr {
    border: 1px solid aliceblue;
    margin-bottom: 25px;

}
/* Style for buttons*/
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin:  10px;
    border: none;
    cursor: pointer;
    width: 15%;
    opacity: 0.9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
    -webkit-border-radius: 7px;
    border-radius: 7px;
    
}
button:hover {
    opacity: 1;
}

/*
button style
*/
.topssignUp, toplogIn{
    margin-left: 250px;
    padding: 14px 20px;
    width: 15%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
}
.toplogIn {
    padding: 14px 20px;
    width: 16%;
    margin-top: 25px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
}
/* Cancel and sign up , add equal width*/
.cancelbtn, signupbtn {
    padding: 14px 20px;
    width: 15%;
    margin-left: 66px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
}
/*login magin*/
.login {
    padding: 14px 20px;
    width: 15%;
    margin-left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
}
/*link buttons*/
.loginbtn {
    padding: 14px 20px;
    width: 15%;
    margin-left: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.342);
}
/* media */
.media {
    width: 45%;
    margin-left: 80px;
}
/* Padding for container*/
.container {
    padding: 16px;
}
/* Clear floats*/
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
/* Change styles cancel and sign up button on small screen*/
@media screen and (max-width: 300px){
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
/* form style*/
form {
    padding: 20px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
/* line style*/
.vl {
    border-left: 1px solid black;
    height: 270px;
}
/* container style */
.grid-container {
    display: grid;
    grid-template-columns: 700px 200px 600px;
    padding: 10px;
    margin-right: auto;
}
/*item inside container*/
.grid-item {
    padding: 10px;
}
.grid-item1 {
    margin-left: 50px;
}

