.container {
    margin: 0 5% 0 5%;
}

.top-button {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: fit-content;
}

.post--btn {
    width: 150px;
    margin: 5px;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid #fff;
    color: #ffffff;
    background-color: #3b462b;
}

.post--btn:hover {
    background: #81865c;
    color: #fff;
    transition: all 0.3s ease-out;
}

.post_container {
    border-radius: 10px;
    height: fit-content;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post_question {
    background-color: #81865c;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    white-space: pre-line;
}

.post_answer {
    background-color: #a2a77d;
    color: rgb(77, 77, 77);
    font-size: 18px;
    padding: 0 10px 0 10px;
}
