<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="decoration.css">
    </head>
    <body>
<form action="" style="border: 1px solid #ccc">
    
    <div class="grid-container"> 
        <div class="grid-item">
            <img src="image/MathLaw.PNG">
            <img src="image/logo.PNG" style="margin-bottom: 33px;margin-left: 30px;">
        </div>
        <div class="grid-item">

        </div>
        <div class="grid-item">
            <button type="button" class="topssignUp">Log In</button>
            <button type="button" class="toplogIn">Sign Up</button>
        </div>
    <div class="grid-item1">
        <h1 style="color: darkolivegreen;">Sign In</h1>
        
        <label for="email">
            <b>Email</b>
        </label>
        <br>
        <input type="text" placeholder="Please Enter Email" name="email" required>
        <br>
        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Please Enter Password" name="passw" required>
        <br>
        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember Me
        </label><br>
        <button type="button" class="login">Log In</button>
        <p>By Signing in, you agree to <a href="#" style="color:dodgerblue">Term of Use</a>.</p>
        <div class="clearfix">
            I don’t have an account 
            <span style="font-size: 25px;">&rarr;</span>
            <button type="submit" class="loginbtn">Sign Up</button>
        </div>
    </div>
    <div class="grid-item">
        <br><br><br><br>
        <div class="vl"></div>
    </div>
    <div class="grid-item">
        <br><br><br><br>
        <button type="button" class="media" style="background-color:#546A9E;">Sign in with FaceBook</button>
        <br>
        <button type="button" class="media" style="background-color: #D16554;">Sign in with Google</button>
        <br>
        <button type="button" class="media" style="background-color: #52B2EA;">Sign in with Twitter</button>
        <br>
        <button type="button" class="media" style="background-color: #3F87B8;">Sign in with LinkedIn</button>
    </div>
</div>
</form>
</body>
</html>