.avatar {
    margin: auto;
    width: 150px; 
    height: 150px;
}

.person {
    margin-bottom: 50px;
}

.team {
    margin: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.root {
    text-align: center; 
    height: 100h;
}